@charset "Utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: idroid;
  src: url("../font/idroid.otf"), format("opentype");
  font-weight: normal;
}

:root{
  --cor0: #82D9A0;
  --cor1: #38CB79;
  --cor2: #2A985A;
  --cor3: #1F6E41;
  --cor4: #185834;
  --cor5: #0b2617;
  --cor6: #f40b9b;
  --branco: #fff;
  --azul: #00ffdd;


  --font-android: idroid, 'san-serif';
  --font-bebas: 'Bebas Neue', 'san-serif';
  --font-padrao: Arial, Helvetica, sans-serif;

}
/*configuração global*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--cor0);
  text-align: justify;
  font-family: var(--font-padrao);
}
header {
  box-shadow: 0px 0px 20px #000000;
  height: 200px;
  padding: 10px;
  text-align: center;
  color: var(--branco);
  background-image: linear-gradient(to bottom, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor5));

  /*background-image: linear-gradient(to bottom, #38CB79,#2A985A,#1F6E41, #185834,#0b2617 );*/
}
header > h1 {
  font-size: 3em;
  padding-top: 25px;
  padding-bottom: 20px;
  font-family: var(--font-bebas);
  text-shadow: 4px 7px 2px #00000066;
}
header > p {
  font-family: var(--font-padrao);
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 600px;
  margin: auto;
  text-shadow: 4px 7px 2px #00000083;
}
nav{
  width: 445px;
  padding-top: 30px;
  padding-right: 10px;
  margin-left: -55px;
  transition-duration: 5s;
}

nav > a {
  margin-right: 5px;
  height: 16px;
  width: 20px;
  color: var(--banco);
  text-decoration:none;
}
nav > a:hover{
  font-size: 20px;
  color: var(--cor6);
  /*color: #f40b9b;*/
  padding: 20px;
  text-decoration: underline ;
  background-color: var(--cor1);
  border-radius: 2px;
  transition-duration: 1s;
}
main{
  min-width: 300px;
  max-width: 900px;
  margin: auto;  
  padding: 10px;
  background-color: var(--branco);
  box-shadow: 0px 0px 20px #000000;  
  border-radius: 0px 0px 10px 10px;
}

main > article >  h1, h2 {
  margin-top: 8px;
  margin-bottom: 15px;
  padding: 5px;
  background-image: linear-gradient(to right, #43e087, #ffffff5d);
  color: #0b2617;
  font-family: idroid;
}
main > article > h1 {
  margin-top: -5px;

  }

main img {
  width: 100%;
  
}
main  p {
  line-height: 30px;
  text-indent: 30px;
}
main strong {
  color: var(--cor5);
  font-size: 1.2em;
}
main a {
  padding: 2px 5px;
  font-size: 1.2em;
  background-color: var(--cor1);
  color: var(--cor5);
  text-decoration: none;
}
a:hover {
  background-color: var(--cor5);
  text-decoration: underline;
  color: var(--azul);
  border-radius: 5px;
  transition: 1s;
}
main a.ext::after {
  content: '\00A0\1F517';

}
.imgpequena{
  max-width: 390px;
  display: block;
  margin: auto;
}

div.video {
  background-color: var(--cor5);
  padding-bottom: 52%;
  margin: 5px -10px 5px -10px; 
  position: relative; 
}
div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
aside > h3 {
  margin: -10px -10px 1px -10px;
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  background-color: var(--cor2);
  color: var(--branco);
}
aside {
  text-align: left;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--azul);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.356);
}
aside ul {
  color: darkblue;
  margin: 5px ;
  columns: 2;
  list-style-position: inside;
  list-style-type: '\2714\00A0\00A0';
}
footer  p {
  color: var(--branco);
  text-align: center;
  margin-top: 30px;
  background-color: var(--cor5);
  padding: 10px;
}
footer a {
  text-decoration: none;
  color: var(--cor1);
}